<h1 class="title">RANKINGS</h1>
<span class="text12 dark-grey">SORT BY</span>
<select class="sort selector" name="sort_score" id="sort_score_id">
  <%= raw @html_option_string %>
</select>

<table class="scoreboard">

  <colgroup>
    <col style="width: 10%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr>
      <th class="left-align">Pos</th>
      <th class="left-align">Player</th>
      <th>W</th>
      <th>L</th>
      <th>Pts</th>
      <th>G</th>
      <th>P</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each.with_index do |score, i| %>
      <tr class="spacer"></tr>
        <tr>
          <td class="left-align dark-grey"><%= i + 1 %></td>
          <td class="align-left pad-left"><%= @players.find(score.id).alias %></td>
          <td><%= score.wins %></td>
          <td><%= score.loses %></td>
          <td><%= score.points %></td>
          <td><%= score.goals %></td>
          <td><%= score.pullUps %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('#sort_score_id').change(function() {
      $.ajax({
        url: "<%= update_score_path %>",
        data: {
            score_sort: $("#sort_score_id option:selected").text()
        },
        dataType: "script"
      });
    });
  });
</script>
