<h1 class="title">RANKINGS</h1>
<span class="text12 gray">SORT BY</span>
<select class="sort selector" name="sort">
  <option value="wins">Wins</option>
  <option value="points">Points</option>
  <option value="goals">Goals</option>
  <option value="pullups">Pull-ups</option>
</select>

<table class="scoreboard">

  <colgroup>
    <col style="width: 10%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr>
      <th class="left-align">Pos</th>
      <th class="left-align">Player</th>
      <th>W</th>
      <th>L</th>
      <th>Pts</th>
      <th>G</th>
      <th>P</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each.with_index do |score, i| %>
      <tr class="spacer"></tr>
        <tr>
          <td class="left-align light-grey"><%= i + 1 %></td>
          <td class="left-align"><%= @players[score.player_id - 1].alias %></td>
          <td><%= score.wins %></td>
          <td><%= score.loses %></td>
          <td><%= score.points %></td>
          <td><%= score.goals %></td>
          <td><%= score.pullUps %></td>
        </tr>
    <% end %>
  </tbody>
</table>
