<h1 class="title">RANKINGS</h1>

<table>
  <tr>
    <th>Pos</th>
    <th>Player</th>
    <th>W</th>
    <th>L</th>
    <th>Pts</th>
    <th>G</th>
    <th>P</th>
    <th colspan="3"></th>
  </tr>

  <% @scores.each.with_index do |score, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= @players[score.player_id].alias %></td>
        <td><%= score.wins %></td>
        <td><%= score.loses %></td>
        <td><%= score.points %></td>
        <td><%= score.goals %></td>
        <td><%= score.pullUps %></td>
      </tr>
  <% end %>


</table>

<%= link_to 'Matches', matches_path %>
<%= link_to 'Players', players_path %>
