<h1 class="title">EDIT PLAYER</h1>

<h2>Edit player</h2>
<%= form_for :player, url: player_path(@player), method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
