<div class="title-bar">
  <span class="title">PLAYERS</span>
  <a href="/players/new" class="btn">ADD</a>
</div>

<% @players.each_with_index do |player, index| %>
  <%= link_to (player_path(player)) do %>
    <div>
      <table class="player">
        <thead>
          <tr>
            <th colspan="3"><%= player.name %></th>
            <th><%= player.alias %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="dark-grey">WINS</td>
            <td class="black"><%= @scores[index].wins %></td>
            <td class="dark-grey">GOALS</td>
            <td class="black"><%= @scores[index].goals %></td>
          </tr>
          <tr>
            <td class="dark-grey">LOSES</td>
            <td class="black"><%= @scores[index].loses %></td>
            <td class="dark-grey">WIN RATIO</td>
            <td class="black"><%= @scores[index].wRatio %></td>
          </tr>
          <tr>
            <td class="dark-grey">POINTS</td>
            <td class="black"><%= @scores[index].points %></td>
            <td class="dark-grey">PULL-UPS</td>
            <td class="black"><%= @scores[index].pullUps %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
