<div class="title-bar">
  <span class="title">PROFILE</span>
  <a href="/players" class="btn">BACK</a>
</div>

<table class="player">
  <% player = @player %>
  <!-- Player name & alias -->
  <thead>
    <tr>
      <th class="align-left" colspan="5"><%= player.name.upcase %></th>
      <th class="align-right light"><%= player.alias %></th>
    </tr>
  </thead>
  <!-- Player stats -->
  <tbody>
    <tr class="spacer">
      <td colspan="6"></td>
    </tr>
    <tr><!-- Wins & Goals -->
      <td class="dark-grey align-right stat">WINS</td>
      <td class="bar bg-blue" rowspan="3"></td>
      <td class="black align-left pad-left score"><%= player.score.wins %></td>
      <td class="dark-grey align-right stat">GOALS</td>
      <td class="bar bg-red" rowspan="3"></td>
      <td class="black align-left pad-left score"><%= player.score.goals %></td>
    </tr>
    <tr><!-- Loses & Win Ratio -->
      <td class="dark-grey align-right stat">LOSES</td>
      <td class="black align-left pad-left score"><%= player.score.loses %></td>
      <td class="dark-grey align-right stat">WIN&nbsp;RATIO</td>
      <td class="black align-left pad-left score"><%= player.score.wRatio.round(2) %></td>
    </tr>
    <tr><!-- Points & Pull-ups -->
      <td class="dark-grey align-right stat">POINTS</td>
      <td class="black align-left pad-left score"><%= player.score.points %></td>
      <td class="dark-grey align-right stat">PULL-UPS</td>
      <td class="black align-left pad-left score"><%= player.score.pullUps %></td>
    </tr>
    <tr class="spacer">
      <td colspan="6"></td>
    </tr>
    <tr class="options">
      <td colspan="3">
        <%= link_to image_tag('edit.svg', class: 'edit-icon'), edit_player_path(@player) %>
      </td>
      <td colspan="3">
        <%= link_to image_tag('delete.svg', class: 'delete-icon'), player_path(@player), method: :delete, data: { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  </tbody>
</table>

<% @match_details.each do |match| %>
    <% match.each do |key, value| %>
      <%= key %>: <%= value %><br>
    <% end %>
<% end %>
