<div class="title-bar">
  <span class="title">PROFILE</span>
  <a href="/players" class="btn">BACK</a>
</div>

<table class="player">
  <% player = @player %>
  <!-- Player name & alias -->
  <thead>
    <tr>
      <th class="align-left" colspan="5"><%= player.name.upcase %></th>
      <th class="align-right light"><%= player.alias %></th>
    </tr>
  </thead>
  <!-- Player stats -->
  <tbody>
    <tr class="spacer">
      <td colspan="6"></td>
    </tr>
    <tr><!-- Wins & Goals -->
      <td class="dark-grey align-right stat">WINS</td>
      <td class="bar bg-blue" rowspan="3"></td>
      <td class="black align-left pad-left score"><%= player.score.wins %></td>
      <td class="dark-grey align-right stat">GOALS</td>
      <td class="bar bg-red" rowspan="3"></td>
      <td class="black align-left pad-left score"><%= player.score.goals %></td>
    </tr>
    <tr><!-- Loses & Win Ratio -->
      <td class="dark-grey align-right stat">LOSES</td>
      <td class="black align-left pad-left score"><%= player.score.loses %></td>
      <td class="dark-grey align-right stat">WIN&nbsp;RATIO</td>
      <td class="black align-left pad-left score"><%= player.score.wRatio.round(2) %></td>
    </tr>
    <tr><!-- Points & Pull-ups -->
      <td class="dark-grey align-right stat">POINTS</td>
      <td class="black align-left pad-left score"><%= player.score.points %></td>
      <td class="dark-grey align-right stat">PULL-UPS</td>
      <td class="black align-left pad-left score"><%= player.score.pullUps %></td>
    </tr>
    <tr class="spacer">
      <td colspan="6"></td>
    </tr>
    <tr class="options">
      <td colspan="3">
        <%= link_to image_tag('edit.svg', class: 'edit-icon'), edit_player_path(@player) %>
      </td>
      <td colspan="3">
        <%= link_to image_tag('delete.svg', class: 'delete-icon'), player_path(@player), method: :delete, data: { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  </tbody>
</table>

<% @match_details.each_with_index do |match, index| %>
  <div class="player-match">
    <table class="match-tbl">
      <!-- Date -->
      <thead>
        <tr>
          <th colspan="5"><%= match['date'] %></th>
        </tr>
      </thead>
      <!-- Match Details -->
    	<tbody>
        <tr>
          <% if match['winner']=='b' %>
        		<td class="thin bg-blue" rowspan="4"></td>
        		<td class="role column blue-text">ATTACK</td>
          <% else %>
            <td class="thin bg-red" rowspan="4"></td>
            <td class="role column red-text">ATTACK</td>
          <% end %>

          <td class="match-score column" rowspan="4">
            <% if match['winner']=='b' %>
              <span class="blue-text">
                <%= match['blue_goal'] %>
              </span>-<span class="red-text">
                <%= match['red_goal'] %>
                &nbsp;&nbsp;
              </span>
            <% else %>
              <span class="red-text">
                <%= match['red_goal'] %>
              </span>-<span class="blue-text">
                <%= match['blue_goal'] %>
                &nbsp;&nbsp;
              </span>
            <% end %>
          </td>

          <% if match['winner']=='b' %>
            <td class="role align-right column red-text">ATTACK</td>
        		<td class="thin bg-red" rowspan="4"></td>
          <% else %>
            <td class="role align-right column blue-text">ATTACK</td>
        		<td class="thin bg-blue" rowspan="4"></td>
          <% end %>
        </tr>
      	<tr>
          <% if match['winner']=='b' %>
            <td class="player-details"><%= match['blue_atk'].upcase %></td>
            <td class="player-details align-right"><%= match['red_atk'].upcase %></td>
          <% else %>
            <td class="player-details"><%= match['red_atk'].upcase %></td>
            <td class="player-details align-right"><%= match['blue_atk'].upcase %></td>
          <% end %>
        </tr>
        <tr>
          <% if match['winner']=='b' %>
            <td class="role blue-text">DEFENSE</td>
            <td class="role align-right red-text">DEFENSE</td>
          <% else %>
            <td class="role red-text">DEFENSE</td>
            <td class="role align-right blue-text">DEFENSE</td>
          <% end %>
        </tr>
        <tr>
          <% if match['winner']=='b' %>
            <td class="player-details"><%= match['blue_def'].upcase %></td>
            <td class="player-details align-right"><%= match['red_def'].upcase %></td>
          <% else %>
            <td class="player-details"><%= match['red_def'].upcase %></td>
            <td class="player-details align-right"><%= match['blue_def'].upcase %></td>
          <% end %>
        </tr>
    	</tbody>
    </table>
  </div>
<% end %>
