<%= form_for @match do |f| %>
  <span class="match-edit">
    <p>RED ATTACK
      <%= f.text_field :redAtt, :class => 'txt_field' %>
    </p>

    <p>RED DEFENSE
      <%= f.text_field :redDef, :class => 'txt_field' %>
    </p>

    <p>BLUE ATTACK
      <%= f.text_field :blueAtt, :class => 'txt_field' %>
    </p>

    <p>BLUE DEFENSE
      <%= f.text_field :blueDef, :class => 'txt_field' %>
    </p>

    <p>RED SCORE
      <%= f.text_field :redGoal, :class => 'txt_field' %>
    </p>

    <p>BLUE SCORE
      <%= f.text_field :blueGoal, :class => 'txt_field' %>
    </p>

    <p>
      <center>
        <%= f.submit 'EDIT', :class => 'btn' %>
        <br><br><br>
        <%= link_to 'CANCEL', matches_path, :class => 'btn' %>
      </center>
    </p>
  </span>
<% end %>
