<%= form_tag(matches_path, :method=>'post') do %>
    <p>
      <label>redAtt</label><br>
      <%= text_field_tag :redAtt %>
    </p>

    <p>
      <label>redDef</label><br>
      <%= text_field_tag :redDef %>
    </p>

    <p>
      <label>blueAtt</label><br>
      <%= text_field_tag :blueAtt %>
    </p>

    <p>
      <label>blueDef</label><br>
      <%= text_field_tag :blueDef %>
    </p>

    <p>
      <label>redGoal</label><br>
      <%= text_field_tag :redGoal %>
    </p>

    <p>
      <label>blueGoal</label><br>
      <%= text_field_tag :blueGoal %>
    </p>

    <%= submit_tag 'Submit' %>
<% end %>


	