<h1 class="title">EDIT MATCH</h1>

<div class="form">
  <%= form_for :match, url: matches_path, method: :patch do |f| %>
    <!-- Red Team -->
    <div class="row">
      <span class="form-label">RED ATTACK</span>
      <span><%= f.text_field :redAtt, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">RED DEFENSE</span>
      <span><%= f.text_field :redDef, class: 'form-text' %></span>
    </div>

    <!-- Blue Team -->
    <div class="row">
      <span class="form-label">BLUE ATTACK</span>
      <span><%= f.text_field :blueAtt, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">BLUE DEFENSE</span>
      <span><%= f.text_field :blueDef, class: 'form-text' %></span>
    </div>

    <!-- Score -->
    <div class="row">
      <span class="form-label">RED SCORE</span>
      <span><%= f.text_field :redGoal, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">BLUE SCORE</span>
      <span><%= f.text_field :blueGoal, class: 'form-text' %></span>
    </div>

    <div class="buttons">
			<%= f.submit 'EDIT', class: 'form-btn black-btn' %>
      <%= link_to 'CANCEL', matches_path, class: 'form-btn grey-btn align-center' %>
		</div>
  <% end %>
</div>
