<div class="title-bar">
  <span class="title">MATCHES</span>
  <a href="/matches/new" class="btn">ADD</a>
</div>

<% @matches.each_with_index do |match, index| %>
  <table class="match-tbl">
    <thead>
      <tr>
        <th class="date-bar" colspan="5">
            4 APR 2016
        </th>
      </tr>
    </thead>
  	<tbody>
      <tr>
        <% if match.winner=='b' %>
      		<td class="thin blue" rowspan="4"></td>
      		<td class="role left column blue-text">ATTACK</td>
        <% else %>
          <td class="thin red" rowspan="4"></td>
          <td class="role left column red-text">ATTACK</td>
        <% end %>

        <td class="match-score column" rowspan="4">
        <% if match.winner=='b' %>
          <span class="blue-text">
            <%= match.blueGoal %>
          </span>-<span class="red-text">
            <%= match.redGoal %>
            &nbsp;&nbsp;
          </span>
        <% else %>
          <span class="red-text">
            <%= match.redGoal %>
          </span>-<span class="blue-text">
            <%= match.blueGoal %>
            &nbsp;&nbsp;
          </span>
        <% end %>
        </td>

        <% if match.winner=='b' %>
          <td class="role right column red-text">ATTACK</td>
      		<td class="thin red" rowspan="4"></td>
        <% else %>
          <td class="role right column blue-text">ATTACK</td>
      		<td class="thin blue" rowspan="4"></td>
        <% end %>
      </tr>
    	<tr>
        <% if match.winner=='b' %>
          <td class="player left"><%= match.blueAtt %></td>
          <td class="player right"><%= match.redAtt %></td>
        <% else %>
          <td class="player left"><%= match.redAtt %></td>
          <td class="player right"><%= match.blueAtt %></td>
        <% end %>
      </tr>
      <tr>
        <% if match.winner=='b' %>
          <td class="role left blue-text">DEFENSE</td>
          <td class="role right red-text">DEFENSE</td>
        <% else %>
          <td class="role left red-text">DEFENSE</td>
          <td class="role right blue-text">DEFENSE</td>
        <% end %>
      </tr>
      <tr>
        <% if match.winner=='b' %>
          <td class="player left"><%= match.blueDef %></td>
          <td class="player right"><%= match.redDef %></td>
        <% else %>
          <td class="player left"><%= match.redDef %></td>
          <td class="player right"><%= match.blueDef %></td>
        <% end %>
      </tr>
      <tr class="grey-bar">
        <td class="match-btn" colspan="5">
          <span class="left">
            <center>
              <%= link_to image_tag("edit.svg", id: "edit"), edit_match_path(match) %>
            </center>
          </span>
          <span class="right">
            <center><%= link_to image_tag("delete.svg", id: "delete"), match_path(match),
                method: :delete,
                data: { confirm: 'Are you sure?' }%></center>
          </span>
        </td>
      </tr>
  	</tbody>
  </table>
<% end %>

<!-- <% @matches.each do |match| %>
    <strong>MATCH ID: <%= match.id %></strong>
    <br>
    Red atk :<%= match.redAtt %>
    <br>
    Red def :<%= match.redDef %>
    <br>
    Red goal :<%= match.redGoal %>
    <br>
    Blue atk:<%= match.blueAtt %>
    <br>
    Blue def :<%= match.blueDef %>
    <br>
    Blue goal :<%= match.blueGoal %>
    <br>
    Winner :<%= match.winner %>
    <br>
    <%= link_to 'Edit', edit_match_path(match) %>
    <br>
    <%= link_to 'Delete', match_path(match),
        method: :delete,
        data: { confirm: 'Are you sure?' }%>
    <br>
<% end %> -->
