<span class="title"></h1>MATCHES</h1>
<!-- <%= link_to '<button>ADD</button>'.html_safe, new_match_path %></span> -->
<a href="/matches/new"><button class="button-text">ADD</button></a>
</span>
<br>


<% @matches_details.each_with_index do |match, index| %>
    <% match.each do |key, value| %>
      <%= key %>: <%= value %><br>
    <% end %>
    <br>

    <%= link_to 'Edit', edit_match_path(@matches[index]) %>
    <br>
    <%= link_to 'Delete', match_path(@matches[index]),
                method: :delete,
                data: { confirm: 'Are you sure?' }%>

    <br>
<% end %>
