<div class="title-bar">
  <span class="title">MATCHES</span>
  <a href="/matches/new" class="btn">ADD</a>
</div>

<% @matches_details.each_with_index do |match, index| %>
  <table class="match-tbl">
    <!-- Date -->
    <thead>
      <tr>
        <th colspan="5"><%= match['date'] %></th>
      </tr>
    </thead>
    <!-- Match Details -->
  	<tbody>
      <tr>
        <% if match['winner']=='b' %>
      		<td class="thin bg-blue" rowspan="4"></td>
      		<td class="role column blue-text">ATTACK</td>
        <% else %>
          <td class="thin bg-red" rowspan="4"></td>
          <td class="role column red-text">ATTACK</td>
        <% end %>

        <td class="match-score column" rowspan="4">
          <% if match['winner']=='b' %>
            <span class="blue-text">
              <%= match['blue_goal'] %>
            </span>-<span class="red-text">
              <%= match['red_goal'] %>
              &nbsp;&nbsp;
            </span>
          <% else %>
            <span class="red-text">
              <%= match['red_goal'] %>
            </span>-<span class="blue-text">
              <%= match['blue_goal'] %>
              &nbsp;&nbsp;
            </span>
          <% end %>
        </td>

        <% if match['winner']=='b' %>
          <td class="role align-right column red-text">ATTACK</td>
      		<td class="thin bg-red" rowspan="4"></td>
        <% else %>
          <td class="role align-right column blue-text">ATTACK</td>
      		<td class="thin bg-blue" rowspan="4"></td>
        <% end %>
      </tr>
    	<tr>
        <% if match['winner']=='b' %>
          <td class="player"><%= match['blue_atk'].upcase %></td>
          <td class="player align-right"><%= match['red_atk'].upcase %></td>
        <% else %>
          <td class="player"><%= match['red_atk'].upcase %></td>
          <td class="player align-right"><%= match['blue_atk'].upcase %></td>
        <% end %>
      </tr>
      <tr>
        <% if match['winner']=='b' %>
          <td class="role blue-text">DEFENSE</td>
          <td class="role align-right red-text">DEFENSE</td>
        <% else %>
          <td class="role red-text">DEFENSE</td>
          <td class="role align-right blue-text">DEFENSE</td>
        <% end %>
      </tr>
      <tr>
        <% if match['winner']=='b' %>
          <td class="player"><%= match['blue_def'].upcase %></td>
          <td class="player align-right"><%= match['red_def'].upcase %></td>
        <% else %>
          <td class="player"><%= match['red_def'].upcase %></td>
          <td class="player align-right"><%= match['blue_def'].upcase %></td>
        <% end %>
      </tr>
  	</tbody>
  </table>

  <!-- Buttons -->
  <table class="match-btn">
    <tbody>
      <tr class="options">
        <td>
          <%= link_to image_tag('edit.svg', class: 'edit-icon'), edit_match_path(@matches[index]) %>
        </td>
        <td>
          <%= link_to image_tag('delete.svg', class: 'delete-icon'), match_path(@matches[index]), method: :delete, data: { confirm: 'Are you sure?' }  %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
