<span class="title"></h1>MATCHES</h1>
<!-- <%= link_to '<button>ADD</button>'.html_safe, new_match_path %></span> -->
<a href="/matches/new"><button class="button-text">ADD</button></a>
</span>
<br>

<% @matches.each do |match| %>
    <strong>MATCH ID: <%= match.id %></strong>
    <br>
    Red atk :<%= match.redAtt %>
    <br>
    Red def :<%= match.redDef %>
    <br>
    Red goal :<%= match.redGoal %>
    <br>
    Blue atk:<%= match.blueAtt %>
    <br>
    Blue def :<%= match.blueDef %>
    <br>
    Blue goal :<%= match.blueGoal %>
    <br>
    Winner :<%= match.winner %>
    <br>
    <%= link_to 'Edit', edit_match_path(match) %>
    <br>
    <%= link_to 'Delete', match_path(match),
        method: :delete,
        data: { confirm: 'Are you sure?' }%>
    <br>
<% end %>
