<h1 class="title">ADD MATCH</h1>

<div class="form">
  <%= form_tag(matches_path, :method=>'post') do %>
    <!-- Red Team -->
    <div class="row">
      <span class="form-label">RED ATTACK</span>
      <span><%= text_field_tag :redAtt, nil, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">RED DEFENSE</span>
      <span><%= text_field_tag :redDef, nil, class: 'form-text' %></span>
    </div>
    <!-- Blue Team -->
    <div class="row">
      <span class="form-label">BLUE ATTACK</span>
      <span><%= text_field_tag :blueAtt, nil, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">BLUE DEFENSE</span>
      <span><%= text_field_tag :blueDef, nil, class: 'form-text' %></span>
    </div>

    <!-- Score -->
    <div class="row">
      <span class="form-label">RED SCORE</span>
      <span><%= text_field_tag :redGoal, nil, class: 'form-text' %></span>
    </div>
    <div class="row">
      <span class="form-label">BLUE SCORE</span>
      <span><%= text_field_tag :blueGoal, nil, class: 'form-text' %></span>
    </div>

    <div class="buttons">
			<%= submit_tag 'ADD', class: 'form-btn black-btn' %>
      <%= link_to 'CANCEL', matches_path, class: 'form-btn grey-btn align-center' %>
		</div>
  <% end %>
</div>
