<!DOCTYPE html>
<html>
<head>
  <title>ESTL Foosball</title>
  <!-- Controller specific stylesheets -->
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Header -->
  <div class="header bottom-line">
    <%= image_tag("foosball.svg", id: "foosball-logo") %>
  </div>

  <%= render partial: 'layouts/menu_bar' %>

  <!-- End of Header -->
  <div class="page">
    <%= yield %>
  </div>

  <div class="credits">
    <span>A project by </span>
    <span class="team">The Sweatshop</span>
  </div>
</body>
</html>
